body{
    background-color: black;
    
}

div{
    /*background-color: pink;*/
    margin-top: 100px;
    width: 50%;
    margin-left: 25%;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
  }

img{
    width: 100%;
    border:5px,solid,white;
    }

h1{
    text-transform: uppercase;
    font-size: 3rem;
    
}